
.selectMethod{
    display: flex;
    justify-content: space-around;
}
.linkButton {
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    padding: 0.1rem 2rem 2rem 0.1rem;
}
.link{
    text-decoration: none;
    color: #000;
}