
.container{
    max-width: 20rem;
}
.item{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        transform: scale(1.05);
    }
    .link{
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 10px;
        text-decoration: none;
        color: #000;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #ddd;
        }
    }
}