.error {
    color: red
}

.form {
    font-size: 0.8rem;
    .text{
        margin-bottom: 2rem;
    }
    .formGroup {
        .wrap {
            padding: 0 0.5rem;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            label{
                min-width: 5.5rem;
                text-align: right;
            }
        }
    }

    .buttonWrap {
        display: flex;
        justify-content: right;
        padding-top: 5rem;
    }
}